<?xml version="1.0" encoding="UTF-8"?>
<DATA>
	<Element Name="weight:config" Type="PvParameter">
		<Group ID="weight:config">
			<Group ID="weightParameters">
				<Property ID="tare_std" DataType="DINT" Value="1000" />
				<Property ID="ref1_raw" DataType="DINT" Value="10000" />
				<Property ID="ref1_std" DataType="DINT" Value="10000" />
				<Property ID="ref2_raw" DataType="DINT" Value="30000" />
				<Property ID="ref2_std" DataType="DINT" Value="0" />
			</Group>
			<Property ID="acceleration" DataType="REAL" Value="6000" />
			<Property ID="deceleration" DataType="REAL" Value="2000" />
			<Property ID="speed" DataType="USINT" Value="50" />
			<Property ID="maxSpeed" DataType="REAL" Value="720" />
			<Property ID="teachCount" DataType="USINT" Value="5" />
			<Property ID="numSTDs" DataType="USINT" Value="2" />
			<Property ID="controlPercent" DataType="USINT" Value="10" />
			<Property ID="calibrated" DataType="BOOL" Value="true" />
			<Property ID="lineCommunication" DataType="USINT" Value="1" />
			<Property ID="homeOffset" DataType="REAL" Value="0" />
			<Property ID="use2ndWeightControl" DataType="BOOL" Value="false" />
			<Property ID="busyMinTIme" DataType="TIME" Value="50" />
		</Group>
	</Element>
	<Element Name="m1:config" Type="PvParameter">
		<Group ID="m1:config">
			<Property ID="maxSpeed" DataType="REAL" Value="156" />
			<Property ID="torqueLimit" DataType="REAL" Value="1" />
			<Property ID="feederHaltDelay" DataType="TIME" Value="15000" />
			<Property ID="invertEndSensor" DataType="BOOL" Value="false" />
		</Group>
	</Element>
	<Element Name="m2:config" Type="PvParameter">
		<Group ID="m2:config">
			<Property ID="maxSpeed" DataType="REAL" Value="264" />
			<Property ID="torqueLimit" DataType="REAL" Value="1" />
		</Group>
	</Element>
	<Element Name="m3:config" Type="PvParameter">
		<Group ID="m3:config">
			<Property ID="maxSpeed" DataType="REAL" Value="602" />
			<Property ID="torqueLimit" DataType="REAL" Value="1" />
			<Property ID="invertSensor" DataType="BOOL" Value="false" />
		</Group>
	</Element>
	<Element Name="m4:config" Type="PvParameter">
		<Group ID="m4:config">
			<Property ID="maxSpeed" DataType="REAL" Value="654" />
			<Property ID="starvationTimeout" DataType="UINT" Value="10" />
			<Property ID="starvationStopTimeout" DataType="UINT" Value="300" />
			<Property ID="m4EndSensorType" DataType="DINT" Value="0" />
			<Property ID="torqueLimit" DataType="REAL" Value="1" />
			<Property ID="feederHaltDelay" DataType="TIME" Value="15000" />
		</Group>
	</Element>
	<Element Name="main:config" Type="PvParameter">
		<Group ID="main:config">
			<Property ID="selectedLanguage" DataType="STRING" Value="en" />
			<Property ID="machineType" DataType="DINT" Value="0" />
		</Group>
	</Element>
	<Element Name="feeder:config" Type="PvParameter">
		<Group ID="feeder:config">
			<Property ID="maxOpenTime" DataType="UDINT" Value="10000" />
			<Property ID="maxCloseTime" DataType="UDINT" Value="10000" />
			<Property ID="maxPulsesWithNoElements" DataType="USINT" Value="3" />
			<Property ID="feedMode" DataType="DINT" Value="1" />
			<Property ID="reverse" DataType="BOOL" Value="false" />
			<Property ID="manFeedTime" DataType="TIME" Value="500" />
			<Property ID="manFeedTimeLong" DataType="TIME" Value="1000" />
			<Property ID="feederHalting" DataType="BOOL" Value="false" />
			<Property ID="feedModeDefault" DataType="DINT" Value="1" />
		</Group>
	</Element>
</DATA>
